*.log
## xcelium
xcelium.d/
.simvision/
waves.shm/
*.history
*.key
#
*.jou
.venv
vivado
obj_dir/
#IP generation
##CLK WIZ
clk_wiz_0.v
clk_wiz_0_clk_wiz.v
clk_wiz_0.veo
clk_wiz_0.xml
src/ipcores/clk_wiz_0/clk_wiz_0_board.xdc 
src/ipcores/clk_wiz_0/clk_wiz_0_ooc.xdc 
src/ipcores/clk_wiz_0/clk_wiz_0_sim_netlist.v 
src/ipcores/clk_wiz_0/clk_wiz_0_sim_netlist.vhdl 
src/ipcores/clk_wiz_0/clk_wiz_0_stub.v 
src/ipcores/clk_wiz_0/clk_wiz_0_stub.vhdl 
src/ipcores/clk_wiz_0/clk_wiz_0.dcp 
src/ipcores/clk_wiz_0/clk_wiz_0.xdc
src/ipcores/clk_wiz_0/mmcm_pll_drp_func_7s_mmcm.vh
src/ipcores/clk_wiz_0/mmcm_pll_drp_func_7s_pll.vh
src/ipcores/clk_wiz_0/mmcm_pll_drp_func_us_mmcm.vh
src/ipcores/clk_wiz_0/mmcm_pll_drp_func_us_pll.vh
src/ipcores/clk_wiz_0/mmcm_pll_drp_func_us_plus_mmcm.vh
src/ipcores/clk_wiz_0/mmcm_pll_drp_func_us_plus_pll.vh
src/ipcores/clk_wiz_0/doc/*changelog.txt
#ROM
src/ipcores/dist_mem_gen_0/doc/
src/ipcores/dist_mem_gen_0/hdl/
src/ipcores/dist_mem_gen_0/sim/
src/ipcores/dist_mem_gen_0/simulation/
src/ipcores/dist_mem_gen_0/synth/
src/ipcores/dist_mem_gen_0/dist_mem_gen_0_ooc.xdc 
src/ipcores/dist_mem_gen_0/dist_mem_gen_0_sim_netlist.v 
src/ipcores/dist_mem_gen_0/dist_mem_gen_0_sim_netlist.vhdl 
src/ipcores/dist_mem_gen_0/dist_mem_gen_0_stub.v 
src/ipcores/dist_mem_gen_0/dist_mem_gen_0_stub.vhdl 
src/ipcores/dist_mem_gen_0/dist_mem_gen_0.dcp 
src/ipcores/dist_mem_gen_0/dist_mem_gen_0.mif 
src/ipcores/dist_mem_gen_0/dist_mem_gen_0.veo 
src/ipcores/dist_mem_gen_0/dist_mem_gen_0.vho 
src/ipcores/dist_mem_gen_0/dist_mem_gen_0.xml